@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
    background-color: #0f1116;
    color: #d7dce2;
}

p, h2 {
    color: #92979c;
    font-weigt: normal;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 12px;
}

li {
    font-size: 16px;
    margin: 3px;
    padding: 5px 5px 5px 26.5px ;
}

.container-selected {
    background-color: '#333';
    padding-left: 5px;
    .icon-placeholder {
        @extend .glyphicon;
        @extend .glyphicon-menu-hamburger;
        display: inline-block;
        margin-right: 5px;
    }
}

.dashConfig {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    > div {
        position: absolute;
        height: 80px;

        top: auto;
        bottom: 0;
        
        right: 0;
        left: 0;
        &:first-child {
            padding-left: 20px;
            top: 0;
            bottom: auto;
        }
        &.itemList {
            padding-left: 20px;
            overflow-y: scroll;
            top: 80px;
            bottom: 80px;
            height: auto;
        }
    }
}

.itemPicker div {
    padding-left: 20px;
    & + div {
        border-left: 2px dashed #2a2d31;
    }
}

.formSubmit {
    padding: 20px;
    button {
        margin-right: 10px;
    }
}